body{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	color: #fff; 
}
.header{
	padding-top: 10px;
	padding-bottom: 12px;
	height: 60px;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	width:100%;
}
.logo1{	
	width: 118px;
	height: 40px;
	margin-left: 82px;
	
}
.navigation{
	margin: 0;
	display: flex;
	list-style: none;	
	
}
.main-navigation{
	display: flex;
	padding-bottom: 22px;
	padding-top: 15px;
}
.item-link{
	display: flex;		
	padding-right:25px;	
	color: #FFF;
	text-decoration: none;
	font-size: 13px;
	line-height: 16px;

}
#registerplusvhod{

	width: 286px;
	height: 40px;
	padding-right: 30px;
	
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	
}
#registerplusvhod a{
	text-decoration: none;
}
.vhod{
	list-style: none;	
	color: black;	
	background-color:  #FFFFFF;
	border-radius: 6px;	
	text-align: center;
	align-items: center;
	padding: 11px 46px 11px 46px;
}
.register{
	text-align: center;
	align-items: center;
	list-style: none;	
	background: #F2994A;
	margin: 0 auto;	
	border-radius: 6px;
	text-align: center;
	margin-left: 16px;
	padding: 10px 15px 10px 15px;
	color: #FFF
	
}
.list-hide{
	display: flex;
	flex-direction: column;
	background-color: black;
	position: absolute;
	list-style: none;
	margin: 0;	
	right:0;
	
	
}
.item-hide-a{
	color:white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 10px;
	padding-right: 15px;
}
#menu-butt{	
	position: relative;
	margin-top: 15px;
	display: inline-block;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 10px;
	/* or 50% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #F2994A;
	text-decoration: none;
}
.SectionLogo{	
	display: block;	
	width: 250px;
	height: 100px;
	margin: 0 auto;	
	padding-top: 18%;
}
.main{
	background-image: url('MainImgg.png');
	background-size: cover;
    width:100%;
    display: inline-block;
    padding-top: 13%;
    
}	
#hideVhod{
	
	width:100%;
	display: none;
	justify-content: flex-end;
	margin-top: -13%;
}
#main-buttons a{
	text-decoration: none;
}	
#main-buttons{
	display: flex;
	flex-direction: column-reverse;
	width: 140px;
}
#main-buttons .register,.vhod{
	margin: 0px;
	margin-bottom: 5px;
	
}
#buttonZapic{
	width:  235px;
	color: #000;
	background: #F2F2F2;
    border-radius: 6px;
    border-color: #F2F2F2;
   	padding: 15px 20px 15px 20px;	
	display: block;        
	font-style: normal;
	font-size: 17px;
	line-height: 21px;	
	text-align: center;
	margin:0 auto;
	margin-top: 39px;
	margin-bottom: 155px;
	text-decoration: none;
}
#afisha{
	margin: auto;
	
}
/*Афиша выставок*/
.AfishaSection{
	display: flex;
	margin: auto;
	
}
.Name{
    text-align: center;
	display: block;
	color: #FFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 37px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	padding-bottom: 20px;
	padding-top: 20px;
}
.AfishaObshee{

	text-align: center;
	justify-content: center;
	
	width: 100%;
	margin: 0 auto;
}
.AfishaObshee img{

	display: flex;
	width: 100%;
}
.seminame{	
	margin-top: -50px;
	align-items: center;
	text-align: center;
}
.Photo{
	display:flex;
	flex-direction: row;
	width:100%;
	text-align: center;
	border-spacing: 0px;
	
}

/*Фотогалерея*/
.Fototable{
	display: flex;
	border: none;
}
.Fototable tbody{
	margin: auto;
}
.PhotoGal{
	padding: 46px 11px 46px 11px;
	width: 90%;
	
}


/*Информация о нас*/
#about{
	padding-left: 15%;
	
}
.Infa{	
		
	
	margin-top: 91px;
}
.twoInRow{
	display: flex;
	flex-direction: row;		
	
	
}
.tIRelm{
	width:40%;
	
}
h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	 

	letter-spacing: -0.015em;

	color: #FFFFFF;
}

#Adres{
	display: inline-block;
	width: 518px;
	height: 222px;
	padding-left: 94px;
	padding-bottom: 64px;
}

.Zayavka{	
	width:295px;
	height:46px;
	background: #4F4F4F;
	border-radius: 6px;
	padding: 13px 5px 13px 5px;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: -0.015em;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
footer{
	margin-top: 100px;
	padding-bottom: 100px;
}
.Line-Footer{
	width: 99%;
	height: 0px;
	border: 1px solid #FFFFFF;
	
	margin: auto;
}
.LogoFooter{
	display: inline-block;
	margin-left: 63px;
	margin-top: 20px;
	width: 110px;
	height: 32px;
}
.footer-text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	
}
#text{
	display: flex;
	flex-direction: column;
}
#text1{
	display: inline-block;
	
	height: 65px;
}
#text2{
	display: inline-block;
	
	height: 65px;	
}

#hideGall{
	display: none;
	flex-direction: column;
}
#hideGall img{
	width:80%;
	margin: auto;
	padding-bottom: 10px;
}
#hideMainRegVhod{
	
	flex-direction: row;
	justify-content: space-around;
	
	display: none;
}
#hideMainRegVhod a{
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;

	color: #000000;
}
@media(max-width:1050px)
{
	#hideVhod{
		display: flex;
	}
	#registerplusvhod{
		display: none;
	}
	.navigation{
		width:100%;
	}
	#about{
		padding: 0;		
	}
	.tIRelm{
		width:50%;
	}
}
@media(max-width:768px)
{
	header{
		width:100%;
	}
	.twoInRow{
		flex-direction: column;
	}
	.tIRelm{
		width:100%;
	}
}
@media(max-width:680px){
	#hideVhod{
		display: none;
	}
	.SectionLogo{
		display: none;
	}
	.main{
		padding-top: 13%;
	}
	#hideGall{
		display: flex;
	}
	.Fototable{
		display: none;
	}
	.Photo{
		flex-direction: column;
	}
	.Photo img{
		width:100%;
		height:100%;
		overflow: hidden;
	}
	.seminame{
		font-size: 36px;
		margin-top: -80px;
	}
	#buttonZapic{
		width:100%;
		border-radius: 0px;
		margin: 0px;
		margin-top: 280px;
		padding: 15px 0px;
	}
	.main{
		height: 400px;
	}
	#hideMainRegVhod{
		display: flex;
	}
	.logo1{
		margin: 0px;
	}
}


	